version: '3.7'

services:
  archelp:
    image: taqie/archelp
    restart: always
    volumes:
      - archelp_data:/var/www/html/storage/app
    environment:
      - APP_KEY=${APP_KEY}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - LOG_DISCORD_WEBHOOK_URL=${LOG_DISCORD_WEBHOOK_URL}
      - PROMOSMS_LOGIN=${PROMOSMS_LOGIN}
      - PROMOSMS_PASSWORD=${PROMOSMS_PASSWORD}
      - REDIS_HOST=redis
      - DB_HOST=database
    tty: true
    external_links:
      - database:database
    networks:
      default:
      archelp:
  redis:
    image: redis
    networks:
      - archelp

networks:
  archelp:
  default:
    external: true
    name: bridge

volumes:
  archelp_data:
